<table width="${width}" bgcolor="${frameColor}" style="table-layout: fixed; 
      overflow: hidden; font-family: ${fontFace};" align="${align}" 
      cellspacing="1" cellpadding="7" border="0">
<tr bgcolor="${titleBarColor}">
<td height="20">
   ${xmlButton}
   <strong>${title}</strong>
   <div>
      <small style="color: ${titleBarTextColor};">${date}</small>
   </div>
</td>
</tr>
<tr bgcolor="${boxFillColor}">
<td class="rssBoxContent" style="color: ${textColor};">
   ${image}
   ${items}
   ${input}
   <div class="rssBoxPromo" style="margin-top: 0px; text-align: left; 
         font: 9px verdana, sans-serif">
      RSS box by <a href="http://p3k.org/rss">p3k.org</a>.
   </div>
</td>
</tr>
</table>
