body {
   margin: 10px;
   padding: 10px;
   font-family: 'Droid Serif', serif;
}

a {
   text-decoration: none;
}

a:hover {
   text-decoration: underline;
}

h3 {
   margin: 10px 0 0 0;
   font-size: 30px;
   font-weight: normal;
   line-height: 1.7em;
}

p, ul {
   line-height: 1.4em;
}

li {
   margin-top: 5px;
}

code {
   font-size: .9em;
}

div#preview {
   float: left; 
   width: 200px;
   min-height: 1em;
   margin-bottom: 1em;
}

table#setup {
   float: left;
   width: 350px;
   margin-bottom: 0;
   border: 1px;
   border-spacing: 0 0;   
}

table#setup td {
   padding: 4px;
}

small, label, #referrers li {
   color: gray;
   font-size: .8em;
}

#title, #description, #date, #source {
   font-size: .8em;
}


button#reset {
   margin-right: 5px;
}

button#reload {
   font-weight: bold;
   color: green;
}

#setup {
   padding-left: 20px;
   padding-right: 50px;
}

#setup td {
   vertical-align: baseline;
}

#setup td:first-child {
   text-align: right;
   white-space: nowrap;
}

#url, #fontFace {
   width: 165px;
}

#showXmlButton {
   margin-right: 30px;
}

#maxItems, #width, #radius {
   width: 50px;
}

#code td {
   padding-top: 30px;
   vertical-align: top;
}

#code textarea {
   width: 165px;
   overflow: hidden;
}

#banner {
   height: 85px;
   vertical-align: top;
}

#about {
   float: left;
   width: 468px;
   margin-right: 10px;
}

#about p + div, #about ul, #about ol {
   margin-top: -10px;
}

.rssbox a {
   text-decoration: none;
}

/* MiniColors */

.miniColors-trigger {
	height: 22px;
	width: 22px;
	background: url(images/trigger.png) center no-repeat;
	vertical-align: middle;
	margin: 0 .25em;
	display: inline-block;
	outline: none;
}

.miniColors-selector {
	position: absolute;
	width: 175px;
	height: 150px;
	background: #FFF;
	border: solid 1px #BBB;
	-moz-box-shadow: 0 0 6px rgba(0, 0, 0, .25);
	-webkit-box-shadow: 0 0 6px rgba(0, 0, 0, .25);
	box-shadow: 0 0 6px rgba(0, 0, 0, .25);
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding: 5px;
	z-index: 999999;
}

.miniColors-selector.black {
	background: #000;
	border-color: #000;
}

.miniColors-colors {
	position: absolute;
	top: 5px;
	left: 5px;
	width: 150px;
	height: 150px;
	background: url(images/gradient.png) center no-repeat;
	cursor: crosshair;
}

.miniColors-hues {
	position: absolute;
	top: 5px;
	left: 160px;
	width: 20px;
	height: 150px;
	background: url(images/rainbow.png) center no-repeat;
	cursor: crosshair;
}

.miniColors-colorPicker {
	position: absolute;
	width: 11px;
	height: 11px;
	background: url(images/circle.gif) center no-repeat;
}

.miniColors-huePicker {
	position: absolute;
	left: -3px;
	width: 26px;
	height: 3px;
	background: url(images/line.gif) center no-repeat;
}

