<a href="${link}"><img src="${source}" width="${width}" height="${height}" 
alt="${title}" title="${title}" align="${align}" valign="${valign}" 
hspace="${hspace}" vspace="${vspace}" border="0" /></a>
