<div>
  <i>
    “JavaScript RSS Viewer puts little or long customizable RSS boxes anywhere you put HTML; build your own slashbox hell or heaven, it’s feedarific!” — <a href='http://ourpla.net/cgi/pikie'>Abbe Normal</a>
  </i>
</div>

<h2>{{ $appDescription }} {{ $appVersion }}</h2>

<p class='msg warning'>
  <strong>Reduced availability due to temporary violation of quota limit.</strong> You should <a href='//github.com/p3k/json3k'>install your own JSONP proxy</a>. You can always support the project with your <a href='http://flattr.com/thing/681881/JavaScript-RSS-Box-Viewer'>donation</a>.
</p>

<p>
  This viewer can display <a href='http://en.wikipedia.org/wiki/RSS'>RSS</a> feeds of version <a href='http://cyber.law.harvard.edu/rss/examples/sampleRss091.xml' on:click='goto(event)'>0.91</a>, <a href='http://cyber.law.harvard.edu/rss/examples/sampleRss092.xml' on:click='goto(event)'>0.92</a>, <a href='http://rss.orf.at/fm4.xml' on:click='goto(event)'>1.0</a> and <a href='http://blog.p3k.org/stories.xml' on:click='goto(event)'>2.0</a> as well as even the good old legacy format <a href='http://essaysfromexodus.scripting.com/xml/scriptingNews2.xml' on:click='goto(event)'>Scripting News 2</a>. <i>(Sorry, no <a href='http://en.wikipedia.org/wiki/Atom_%28standard%29'>Atom</a>.)</i>
</p>

<p>
  It provides a simple way to embed such RSS boxes in any <a href='http://validator.w3.org/'>valid HTML document</a> via an automagically generated JavaScript tag — <i>for free!</i>
</p>

<p>
  Just enter the URL of any compatible RSS feed, modify the layout settings as you like and push the Reload button. When finished, copy the HTML code into your own web page – and voilà!
</p>

<p>
  The code behind this is written in JavaScript and runs completely in your browser*. You can get the source code together with all the other necessary files from the <a href='//github.com/p3k/rss-box'>Github repository</a>.
</p>

<p>
  <small>* A proxy server is needed for cross-origin requests.</small>
</p>

<p>
  <Flattr/>
</p>

<Changes/>

<details>
  <summary>
    <h3>Known Limitations</h3>
  </summary>
  <ul>
    <li>No support for PICS rating</li>
    <li>No multiple enclosures (RSS 0.93)</li>
    <li>No Atom support</li>
  </ul>
</details>

<h3>Future Development</h3>

<p>
  I have ceased actively developing this viewer but sometimes I get enthusiastic and fiddle around with the code. Of course it will be available here as is.
</p>
<p>
  For questions and comments feel free to contact me (Tobi) via e-mail: <a href='mailto:&#109;&#97;&#105;&#108;&#43;&#114;&#115;&#115;&#64;&#112;&#51;&#107;&#46;&#111;&#114;&#103;'>&#109;&#97;&#105;&#108;&#43;&#114;&#115;&#115;&#64;&#112;&#51;&#107;&#46;&#111;&#114;&#103;</a>.
</p>

<h3>License</h3>

<p>
  <span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">JavaScript RSS Box Viewer</span> by
  <a xmlns:cc="http://creativecommons.org/ns#" href="http://p3k.org/rss" property="cc:attributionName" rel="cc:attributionURL">Tobi Schäfer</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/at/deed.en_US">Creative Commons Attribution-ShareAlike 3.0 Austria License</a>.
</p>
<p>
  Based on a work at <a xmlns:dct="http://purl.org/dc/terms/" href="https://p3k.org/source/svn/rss-box/trunk/" rel="dct:source">https://p3k.org/source/svn/rss-box/trunk/</a>.
</p>
<p>
  <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/at/deed.en_US">
    <img alt="Creative Commons License" style="border-width:0" src="//i.creativecommons.org/l/by-sa/3.0/at/88x31.png" />
  </a>
</p>

<p>
  <i>Thank you, <a href='//p3k.org/'>p3k organisation</a>!</i>
</p>

<style>
  h3 {
    display: inline-block;
  }

  h3 + p, summary + * {
    margin-top: 0;
  }

  summary {
    outline: none;
  }

  li + li {
    margin-top: 0.5em;
  }

  small {
    color: #999;
  }

  .warning {
    border-color: #e44;
    background: #fdd;
  }

  .great {
    border-color: #2d2;
    background: #dfd;
  }
</style>

<script>
  import Changes from './Changes.html';
  import Flattr from './Flattr.html';

  export default {
    oncreate() {
      this.store.observe('appDescription', description => {
        document.title = description;
      });
    },

    components: {
      Changes,
      Flattr
    },

    methods: {
      goto(event) {
        event.preventDefault();
        this.store.set({ url: event.target.href });
      }
    }
  }
</script>
