<div data-link-color='{{ $linkColor }}' class='rssbox rssBox' style='max-width: {{ $width }}px;
    border-color: {{ $frameColor }};
    border-radius: {{ $radius }}px;
    font: {{ $fontFace }};'>
  {{ #if !$headless }}
    <div class='rssbox-titlebar' style='color: {{ $titleBarTextColor }};
        background-color: {{ $titleBarColor }};
        border-bottom-color: {{ $frameColor }};'>
      {{ #if $showXmlButton }}
        <div style='float: right;'>
          <a href='{{ $url }}'>
            <span class='rssbox-icon' title='{{ $format }} {{ $version }}'></span>
          </a>
        </div>
      {{ /if }}
      <div>
        <a href='{{ $link }}' style='color: {{ $titleBarTextColor }};'>
          {{ $title }}
        </a>
      </div>
      <div class='rssbox-date'>
        {{ $formattedDate }}
      </div>
    </div>
  {{ /if }}
  <div class='rssbox-content rssBoxContent' style='background-color: {{ $boxFillColor }};
      height: {{ height }};'>
    {{ #if $image }}
      <a href='{{ $image.link }}' title='{{ $image.title }}'>
        <span alt='{{ $image.description }}' class='rssbox-image'
            style='background-image: url({{ $image.source }});
            width: {{ $image.width }}px;
            height: {{ $image.height }}px;'></span>
      </a>
    {{ /if }}
    {{ #each $items as item, index }}
      {{ #if index < $maxItems }}
        <div class='rssbox-item-content rssBoxItemContent' style='color: {{ $textColor }}'>
          <div style='font-weight: {{ $fontWeight }};'>
            <a href='{{ item.link }}' style='color: {{ $textColor }}'>
              {{ item.title }}
            </a>
          </div>
          {{ #if !$compact }}
            {{{ item.description }}}
            {{ #if item.source }}
              <a href='{{ item.source.url }}'
                  title='{{ item.source.title }}'
                  class='rssbox-source'>🌍</a>
            {{ /if }}
            {{ #if item.enclosures }}
              <div>
                {{ #each item.enclosures as enclosure }}
                  <a href='{{ enclosure.url }}'
                      title='{{ enclosure.length }} {{ enclosure.type }}'
                      class='rssbox-enclosure'>📎</a>
                {{ /each }}
              </div>
            {{ /if }}
          {{ /if }}
        </div>
      {{ /if }}
    {{ /each }}
    {{ #if $input }}
      <form class='rssbox-form' method='get' action='{{ $input.link }}'>
        <input type='text' name='{{ $input.name }}'
            placeholder='Enter search &amp; hit return…'
            data-placeholder='{{ $input.description }}'>
        <!-- input type='submit' value='{{ $input.title }}' -->
      </form>
    {{ /if }}
    <div class='rssbox-promo rssBoxPromo'>
      <a href='{{ appUrl() }}'>RSS Box by p3k.org</a>
    </div>
  </div>
</div>

<style>
  .rssbox {
    box-sizing: border-box;
    width: 100%;
    border: 1px solid #000;
    font-family: sans-serif;
    float: left;
    overflow: hidden;
    border-radius: 0;
    -moz-border-radius: 0;
  }

  .rssbox-icon, .rssbox-image {
    display: inline-block;
    float: right;
    margin: 5px 0 5px 5px;
    background-position: left center;
    background-repeat: no-repeat;
  }

  .rssbox-icon {
    height: 16px;
    width: 16px;
    margin: 1px 4px;
    background-image: url(https://p3k.org/rss/18.1.0/img/rss.png);
    background-size: 16px 16px;
  }

  .rssbox-titlebar {
    padding: 5px 3px 5px 10px;
    color: #000;
    background-color: #add8e6;
    border-bottom: 1px solid #000;
    font-weight: bold;
  }

  .rssbox-content {
    height: auto;
    padding: 5px 10px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #fff;
    clear: both;
  }

  .rssbox-enclosure:hover, .rssbox-source:hover {
    text-decoration: none;
  }

  .rssbox-source {
    display: block;
  }

  .rssbox-form {
    margin-bottom: 0.8em;
  }

  .rssbox-form input {
    padding: 5px;
    background-color: #fff;
  }

  .rssbox-date {
    margin-top: 1px;
    font-size: 80%;
  }

  .rssbox-promo {
    margin: 0 -5px -1px 0;
    text-align: right;
    font-size: 7pt;
    letter-spacing: 0.5px;
  }
</style>

<script>
  import { urls } from '../src/settings';

  if (location.href.indexOf(urls.base) < 0) {
    fetch(urls.referrers + '&url=' + encodeURIComponent(location.href));
  }

  export default {
    oncreate() {
      const staticId = 'rssbox-static-stylesheet';
      const dynamicId = 'rssbox-dynamic-stylesheet';

      let staticCss = window[staticId];
      let dynamicCss = window[dynamicId];

      if (!staticCss) {
        staticCss = document.createElement('link');
        staticCss.id = staticId;
        staticCss.rel = 'stylesheet';
        staticCss.href = urls.base + '/box.css';
        document.head.appendChild(staticCss);
      }

      if (!dynamicCss) {
        dynamicCss = document.createElement('style');
        dynamicCss.id = dynamicId;
        document.head.appendChild(dynamicCss);
      }

      this.store.observe('compact', compact => {
        this.store.set({ fontWeight: compact ?  'initial' : 'bold' });
      });

      this.store.observe('linkColor', color => {
        if (!color) return;

        let rule =
          `.rssbox[data-link-color="${color}"] a {
            color: ${color};
          }`;

        if (dynamicCss.innerHTML.indexOf(rule) < 0) dynamicCss.innerHTML += rule;
      });
    },

    helpers: {
      format(bytes) {
        return bytes;
      },

      appUrl() {
        return urls.app;
      }
    },

    computed: {
      height: $height => $height > -1 ? $height + 'px' : '100%'
    }
  };
</script>
