<details on:toggle='update(event)'>
  <summary></summary>
  {{ #if referrers.length }}
    {{ #each referrers as referrer }}
      <div class='referrer'>
        <code>{{ format(referrer.percentage) }}</code>
        <a href='{{ referrer.url }}'>{{ referrer.host }}</a>
      </div>
    {{ /each }}
  {{ else }}
    Loading…
  {{ /if }}
</details>

<style>
  details {
    line-height: 1.2em;
  }

  code {
    margin-right: 0.5em;
    color: #bbb;
    font-size: 0.7em;
    white-space: pre;
  }

  summary {
    outline: none;
  }

  .referrer {
    white-space: nowrap;
  }
</style>

<script>
  import { urls } from '../src/settings';

  let loaded = false;

  export default {
    oncreate() {
      if ('open' in document.createElement('details') === false) {
        this.load();
      }
    },

    data() {
      return {
        referrers: []
      }
    },

    helpers: {
      format: float => {
        if (float < 0.01) return '< 0.01';
        return float.toFixed(2).padStart(6)
      }
    },

    methods: {
      update(event) {
        if (event.target.open && !loaded) this.load();
      },

      load() {
        fetch(urls.referrers).then(res => {
          res.json().then(data => this.display(data));
        });
      },

      display(data) {
        const hosts = data.reduce((accu, item) => {
          if (item.url.startsWith('http') && !item.url.startsWith(urls.base)) {
            const url = item.url.replace(/^([^.]*)www\./, '$1');
            const host = url.split('/')[2];
            let data = accu[host];

            if (!data) {
              data = { host, url, hits: item.hits, total: 0 };
              accu[host] = data;
              accu.push(data);
            } else if (item.hits > data.hits) {
              data.url = item.url;
              data.hits = item.hits;
            }

            data.total += item.hits;
          }
          return accu;
        }, []);

        const total = hosts.reduce((accu, item) => accu += item.total, 0);

        const referrers = hosts.map(item => {
          item.percentage = item.total / total * 100;
          return item;
        });

        referrers.sort((a, b) => b.percentage - a.percentage);

        this.set({ referrers });
        loaded = true;
      }
    }
  }
</script>
