<script>
  import { onMount } from 'svelte';
  import { referrers } from '../src/stores';

  onMount(() => {
    if ('open' in document.createElement('details') === false) {
      load();
    }
  });

  function format(float) {
    if (float < 0.01) return '< 0.01';
    return float.toFixed(2).padStart(6);
  }

  function update(event) {
    if (event.target.open && !loaded) load();
  }

  function load() {
    referrers.fetch();
  }
</script>

<style>
  details {
    line-height: 1.2em;
  }

  code {
    margin-right: 0.5em;
    color: #bbb;
    font-size: 0.7em;
    white-space: pre;
  }

  summary {
    outline: none;
  }

  .referrer {
    white-space: nowrap;
  }
</style>

<details on:toggle={ load }>
  <summary></summary>
  { #if $referrers.length }
    { #each $referrers as referrer }
      <div class='referrer'>
        <code>{ format(referrer.percentage) }</code>
        <a href='{ referrer.url }'>{ referrer.host }</a>
      </div>
    { /each }
  { :else }
    Loading…
  { /if }
</details>
